URL = 'https://raw.githubusercontent.com/enzoschitini/Enzo/main/Progetti/db/international_matches.csv'

URL = 'https://raw.githubusercontent.com/enzoschitini/Enzo/main/Progetti/GitHub/projects/portfolio/Imola/satelite.csv'

In [1]:
import pandas as pd
from time import sleep

In [2]:
dati = './base.csv'

In [3]:
with open(file=dati, mode='w') as file:
    file.write("")

In [4]:
url = 'https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/develop/dataset/credito.csv'

In [5]:
df = pd.read_csv(url)

In [6]:
df.head(n=11)

,id,default,idade,sexo,dependentes,escolaridade,estado_civil,salario_anual,tipo_cartao,meses_de_relacionamento,qtd_produtos,iteracoes_12m,meses_inativo_12m,limite_credito,valor_transacoes_12m,qtd_transacoes_12m
0,768805383,0,45,M,3,ensino medio,casado,$60K - $80K,blue,39,5,3,1,"12.691,51","1.144,90",42
1,818770008,0,49,F,5,mestrado,solteiro,menos que $40K,blue,44,6,2,1,"8.256,96","1.291,45",33
2,713982108,0,51,M,3,mestrado,casado,$80K - $120K,blue,36,4,0,1,"3.418,56","1.887,72",20
3,769911858,0,40,F,4,ensino medio,na,menos que $40K,blue,34,3,1,4,"3.313,03","1.171,56",20
4,709106358,0,40,M,3,sem educacao formal,casado,$60K - $80K,blue,21,5,0,1,"4.716,22","816,08",28
5,713061558,0,44,M,2,mestrado,casado,$40K - $60K,blue,36,3,2,1,"4.010,69","1.088,07",24
6,810347208,0,51,M,4,na,casado,$120K +,gold,46,6,3,1,"34.516,72","1.330,87",31
7,818906208,0,32,M,0,ensino medio,na,$60K - $80K,silver,27,2,2,2,"29.081,49","1.538,32",36
8,710930508,0,37,M,3,sem educacao formal,solteiro,$60K - $80K,blue,36,5,0,2,"22.352,50","1.350,14",24
9,719661558,0,48,M,2,mestrado,solteiro,$80K - $120K,blue,36,6,3,3,"11.656,41","1.441,73",32
10,708790833,0,42,M,5,sem educacao formal,na,$120K +,blue,31,5,2,3,"6.748,40","1.201,27",42

In [7]:
intestazioni = df.head(n=0)
intestazioni = list(intestazioni)
intestazioni = str(intestazioni)
x = intestazioni
x = x.replace('[', '').replace(']', '').replace("'", '').replace(' ', '')
print(x)

id,default,idade,sexo,dependentes,escolaridade,estado_civil,salario_anual,tipo_cartao,meses_de_relacionamento,qtd_produtos,iteracoes_12m,meses_inativo_12m,limite_credito,valor_transacoes_12m,qtd_transacoes_12m

In [8]:
%%writefile base.csv
creazione dell'archivio in corso............

Overwriting base.csv

In [9]:
sleep(1)

In [10]:
with open(file=dati, mode='w') as file:
    file.write("")
    file.write(x + '\n')

In [11]:
lista = df.values.tolist()
print(lista[0])

[768805383, 0, 45, 'M', 3, 'ensino medio', 'casado', '$60K - $80K', 'blue', 39, 5, 3, 1, '12.691,51', '1.144,90', 42]

In [12]:
with open(file=dati, mode='a', encoding='utf-8') as fp:
    for x in lista:
        x = str(x)
        x = x.replace('[', '').replace(']', '').replace("'", '').replace(' ', '')
        fp.write(x + '\n')
        sleep(0.0005)

In [13]:
class ArquivoCSV(object):

  def __init__(self, arquivo: str):
    self.arquivo = arquivo
    self.conteudo = self._extrair_conteudo()
    self.colunas = self._extrair_nome_colunas()

  def _extrair_conteudo(self):
    conteudo = None
    with open(file=self.arquivo, mode='r', encoding='utf8') as arquivo:
      conteudo = arquivo.readlines()
    return conteudo

  def _extrair_nome_colunas(self):
    return self.conteudo[0].strip().split(sep=',')

  def extrair_coluna(self, indice_coluna: str):
    coluna = list()
    for linha in self.conteudo:
      conteudo_linha = linha.strip().split(sep=',')
      coluna.append(conteudo_linha[indice_coluna])
    coluna.pop(0)
    return coluna

In [14]:
def valore_abbreviato(valore:str) -> str:
    alg_valore = list(valore)
    num_punt = sum(map(lambda x: x == '.', valore))
    for x in range(num_punt):
     alg_valore.remove('.')
    numero = int("".join(alg_valore))
    numero_format = "{:,}".format(numero).replace(",", ".")
    return numero_format

In [15]:
csv = ArquivoCSV(dati)
totale = csv.extrair_coluna(0)
totale = valore_abbreviato(str(len(totale)))
print(f'Ci sono {totale} righe.')

Ci sono 10.127 righe.

In [16]:
import pandas as pd

df = pd.read_csv('./base.csv')

In [17]:
df_ita = df[(df['home_team'] == 'Italy') | (df['away_team'] == 'Italy')]

KeyError: 'home_team'

In [ ]:
df_ita = df_ita[['date', 'home_team', 'away_team', 'home_team_score', 'away_team_score','tournament']]

In [ ]:
df_ita.head(n=5)

,date,home_team,away_team,home_team_score,away_team_score,tournament
53,1993-09-22,Estonia,Italy,0,3,FIFA World Cup qualification
82,1993-10-13,Italy,Scotland,3,1,FIFA World Cup qualification
132,1993-11-17,Italy,Portugal,1,0,FIFA World Cup qualification
219,1994-02-16,Italy,France,0,1,Friendly
250,1994-03-23,Germany,Italy,2,1,Friendly

In [ ]:
print(df_ita)
print(type(df_ita))

             date  home_team   away_team   home_team_score   away_team_score  \
53     1993-09-22    Estonia       Italy                 0                 3
82     1993-10-13      Italy    Scotland                 3                 1
132    1993-11-17      Italy    Portugal                 1                 0
219    1994-02-16      Italy      France                 0                 1
250    1994-03-23    Germany       Italy                 2                 1
...           ...        ...         ...               ...               ...
23652  2022-06-01      Italy   Argentina                 0                 3
23716  2022-06-04      Italy     Germany                 1                 1
23769  2022-06-07      Italy     Hungary                 2                 1
23850  2022-06-11    England       Italy                 0                 0
23906  2022-06-14    Germany       Italy                 5                 2

                            tournament
53        FIFA World Cup qualification
82        FIFA World Cup qualification
132       FIFA World Cup qualification
219                           Friendly
250                           Friendly
...                                ...
23652   CONMEBOL–UEFA Cup of Champions
23716              UEFA Nations League
23769              UEFA Nations League
23850              UEFA Nations League
23906              UEFA Nations League

[351 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>

In [ ]:
df_ita.dtypes

date                object
 home_team          object
 away_team          object
 home_team_score     int64
 away_team_score     int64
 tournament         object
dtype: object

In [ ]:
lista = df_ita.values.tolist()
print(lista)
print(lista[0])

[['1993-09-22', ' Estonia', ' Italy', 0, 3, ' FIFA World Cup qualification'], ['1993-10-13', ' Italy', ' Scotland', 3, 1, ' FIFA World Cup qualification'], ['1993-11-17', ' Italy', ' Portugal', 1, 0, ' FIFA World Cup qualification'], ['1994-02-16', ' Italy', ' France', 0, 1, ' Friendly'], ['1994-03-23', ' Germany', ' Italy', 2, 1, ' Friendly'], ['1994-05-27', ' Italy', ' Finland', 2, 0, ' Friendly'], ['1994-06-03', ' Italy', ' Switzerland', 1, 0, ' Friendly'], ['1994-06-11', ' Costa Rica', ' Italy', 0, 1, ' Friendly'], ['1994-06-18', ' Italy', ' Republic of Ireland', 0, 1, ' FIFA World Cup'], ['1994-06-23', ' Italy', ' Norway', 1, 0, ' FIFA World Cup'], ['1994-06-28', ' Italy', ' Mexico', 1, 1, ' FIFA World Cup'], ['1994-07-05', ' Nigeria', ' Italy', 1, 2, ' FIFA World Cup'], ['1994-07-09', ' Italy', ' Spain', 2, 1, ' FIFA World Cup'], ['1994-07-13', ' Bulgaria', ' Italy', 1, 2, ' FIFA World Cup'], ['1994-07-17', ' Brazil', ' Italy', 0, 0, ' FIFA World Cup'], ['1994-09-07', ' Slovenia', ' Italy', 1, 1, ' UEFA Euro qualification'], ['1994-10-08', ' Estonia', ' Italy', 0, 2, ' UEFA Euro qualification'], ['1994-11-16', ' Italy', ' Croatia', 1, 2, ' UEFA Euro qualification'], ['1994-12-21', ' Italy', ' Turkey', 3, 1, ' Friendly'], ['1995-03-25', ' Italy', ' Estonia', 4, 1, ' UEFA Euro qualification'], ['1995-03-29', ' Ukraine', ' Italy', 0, 2, ' UEFA Euro qualification'], ['1995-04-26', ' Lithuania', ' Italy', 0, 1, ' UEFA Euro qualification'], ['1995-06-19', ' Switzerland', ' Italy', 0, 1, ' Friendly'], ['1995-06-21', ' Germany', ' Italy', 2, 0, ' Friendly'], ['1995-09-06', ' Italy', ' Slovenia', 1, 0, ' UEFA Euro qualification'], ['1995-10-08', ' Croatia', ' Italy', 1, 1, ' UEFA Euro qualification'], ['1995-11-11', ' Italy', ' Ukraine', 3, 1, ' UEFA Euro qualification'], ['1995-11-15', ' Italy', ' Lithuania', 4, 0, ' UEFA Euro qualification'], ['1996-05-29', ' Italy', ' Belgium', 2, 2, ' Friendly'], ['1996-06-01', ' Hungary', ' Italy', 0, 2, ' Friendly'], ['1996-06-11', ' Italy', ' Russia', 2, 1, ' UEFA Euro'], ['1996-06-14', ' Czech Republic', ' Italy', 2, 1, ' UEFA Euro'], ['1996-06-19', ' Italy', ' Germany', 0, 0, ' UEFA Euro'], ['1996-10-05', ' Moldova', ' Italy', 1, 3, ' FIFA World Cup qualification'], ['1996-10-09', ' Italy', ' Georgia', 1, 0, ' FIFA World Cup qualification'], ['1996-11-06', ' Bosnia and Herzegovina', ' Italy', 2, 1, ' Friendly'], ['1997-01-22', ' Italy', ' Northern Ireland', 2, 0, ' Friendly'], ['1997-02-12', ' England', ' Italy', 0, 1, ' FIFA World Cup qualification'], ['1997-03-29', ' Italy', ' Moldova', 3, 0, ' FIFA World Cup qualification'], ['1997-04-02', ' Poland', ' Italy', 0, 0, ' FIFA World Cup qualification'], ['1997-04-30', ' Italy', ' Poland', 3, 0, ' FIFA World Cup qualification'], ['1997-06-04', ' England', ' Italy', 2, 0, ' Tournoi de France'], ['1997-06-08', ' Italy', ' Brazil', 3, 3, ' Tournoi de France'], ['1997-06-11', ' France', ' Italy', 2, 2, ' Tournoi de France'], ['1997-09-10', ' Georgia', ' Italy', 0, 0, ' FIFA World Cup qualification'], ['1997-10-11', ' Italy', ' England', 0, 0, ' FIFA World Cup qualification'], ['1997-10-29', ' Russia', ' Italy', 1, 1, ' FIFA World Cup qualification'], ['1997-11-15', ' Italy', ' Russia', 1, 0, ' FIFA World Cup qualification'], ['1998-01-28', ' Italy', ' Slovakia', 3, 0, ' Friendly'], ['1998-04-22', ' Italy', ' Paraguay', 3, 1, ' Friendly'], ['1998-06-02', ' Sweden', ' Italy', 1, 0, ' Friendly'], ['1998-06-11', ' Italy', ' Chile', 2, 2, ' FIFA World Cup'], ['1998-06-17', ' Italy', ' Cameroon', 3, 0, ' FIFA World Cup'], ['1998-06-23', ' Italy', ' Austria', 2, 1, ' FIFA World Cup'], ['1998-06-27', ' Italy', ' Norway', 1, 0, ' FIFA World Cup'], ['1998-07-03', ' France', ' Italy', 0, 0, ' FIFA World Cup'], ['1998-09-05', ' Wales', ' Italy', 0, 2, ' UEFA Euro qualification'], ['1998-10-10', ' Italy', ' Switzerland', 2, 0, ' UEFA Euro qualification'], ['1998-11-18', ' Italy', ' Spain', 2, 2, ' Friendly'], ['1999-02-10', ' Italy', ' Norway', 0, 0, ' Friendly'], ['1999-03-27', ' Denmark', ' Italy', 1, 2, ' UEFA Euro qualification'], ['1999-03-31', ' Italy', ' Belarus', 1, 1, ' UEFA Euro qualification'], ['1999-04-28', ' Croatia', ' Italy', 0, 0, ' Friendly'], ['1999-06-05', ' Italy', ' Wales', 4, 0, ' UEFA Euro qualification'], ['1999-06-09', ' Switzerland', ' Italy', 0, 0, ' UEFA Euro qualification'], ['1999-09-08', ' Italy', ' Denmark', 2, 3, ' UEFA Euro qualification'], ['1999-10-09', ' Belarus', ' Italy', 0, 0, ' UEFA Euro qualification'], ['1999-11-13', ' Italy', ' Belgium', 1, 3, ' Friendly'], ['2000-02-23', ' Italy', ' Sweden', 1, 0, ' Friendly'], ['2000-03-29', ' Spain', ' Italy', 2, 0, ' Friendly'], ['2000-04-26', ' Italy', ' Portugal', 2, 0, ' Friendly'], ['2000-06-03', ' Norway', ' Italy', 1, 0, ' Friendly'], ['2000-06-11', ' Turkey', ' Italy', 1, 2, ' UEFA Euro'], ['2000-06-14', ' Belgium', ' Italy', 0, 2, ' UEFA Euro'], ['2000-06-19', ' Italy', ' Sweden', 2, 1, ' UEFA Euro'], ['2000-06-24', ' Italy', ' Romania', 2, 0, ' UEFA Euro'], ['2000-06-29', ' Netherlands', ' Italy', 0, 0, ' UEFA Euro'], ['2000-07-02', ' France', ' Italy', 2, 1, ' UEFA Euro'], ['2000-09-03', ' Hungary', ' Italy', 2, 2, ' FIFA World Cup qualification'], ['2000-10-07', ' Italy', ' Romania', 3, 0, ' FIFA World Cup qualification'], ['2000-10-11', ' Italy', ' Georgia', 2, 0, ' FIFA World Cup qualification'], ['2000-11-15', ' Italy', ' England', 1, 0, ' Friendly'], ['2001-02-28', ' Italy', ' Argentina', 1, 2, ' Friendly'], ['2001-03-24', ' Romania', ' Italy', 0, 2, ' FIFA World Cup qualification'], ['2001-03-28', ' Italy', ' Lithuania', 4, 0, ' FIFA World Cup qualification'], ['2001-04-25', ' Italy', ' South Africa', 1, 0, ' Friendly'], ['2001-06-02', ' Georgia', ' Italy', 1, 2, ' FIFA World Cup qualification'], ['2001-09-01', ' Lithuania', ' Italy', 0, 0, ' FIFA World Cup qualification'], ['2001-09-05', ' Italy', ' Morocco', 1, 0, ' Friendly'], ['2001-10-06', ' Italy', ' Hungary', 1, 0, ' FIFA World Cup qualification'], ['2001-11-07', ' Japan', ' Italy', 1, 1, ' Friendly'], ['2002-02-13', ' Italy', ' USA', 1, 0, ' Friendly'], ['2002-03-27', ' England', ' Italy', 1, 2, ' Friendly'], ['2002-04-17', ' Italy', ' Uruguay', 1, 1, ' Friendly'], ['2002-05-18', ' Czech Republic', ' Italy', 1, 0, ' Friendly'], ['2002-06-03', ' Italy', ' Ecuador', 2, 0, ' FIFA World Cup'], ['2002-06-08', ' Italy', ' Croatia', 1, 2, ' FIFA World Cup'], ['2002-06-13', ' Mexico', ' Italy', 1, 1, ' FIFA World Cup'], ['2002-06-18', ' Korea Republic', ' Italy', 2, 1, ' FIFA World Cup'], ['2002-08-21', ' Italy', ' Slovenia', 0, 1, ' Friendly'], ['2002-09-07', ' Azerbaijan', ' Italy', 0, 2, ' UEFA Euro qualification'], ['2002-10-16', ' Wales', ' Italy', 2, 1, ' UEFA Euro qualification'], ['2002-11-20', ' Italy', ' Turkey', 1, 1, ' Friendly'], ['2003-02-12', ' Italy', ' Portugal', 1, 0, ' Friendly'], ['2003-03-29', ' Italy', ' Finland', 2, 0, ' UEFA Euro qualification'], ['2003-04-30', ' Switzerland', ' Italy', 1, 2, ' Friendly'], ['2003-06-03', ' Italy', ' Northern Ireland', 2, 0, ' Friendly'], ['2003-06-11', ' Finland', ' Italy', 0, 2, ' UEFA Euro qualification'], ['2003-08-20', ' Germany', ' Italy', 0, 1, ' Friendly'], ['2003-09-06', ' Italy', ' Wales', 4, 0, ' UEFA Euro qualification'], ['2003-10-11', ' Italy', ' Azerbaijan', 4, 0, ' UEFA Euro qualification'], ['2003-11-12', ' Poland', ' Italy', 3, 1, ' Friendly'], ['2003-11-16', ' Italy', ' Romania', 1, 0, ' Friendly'], ['2004-02-18', ' Italy', ' Czech Republic', 2, 2, ' Friendly'], ['2004-03-31', ' Portugal', ' Italy', 1, 2, ' Friendly'], ['2004-04-28', ' Italy', ' Spain', 1, 1, ' Friendly'], ['2004-05-30', ' Tunisia', ' Italy', 0, 4, ' Friendly'], ['2004-06-14', ' Denmark', ' Italy', 0, 0, ' UEFA Euro'], ['2004-06-18', ' Italy', ' Sweden', 1, 1, ' UEFA Euro'], ['2004-06-22', ' Italy', ' Bulgaria', 2, 1, ' UEFA Euro'], ['2004-08-18', ' Iceland', ' Italy', 2, 0, ' Friendly'], ['2004-09-04', ' Italy', ' Norway', 2, 1, ' FIFA World Cup qualification'], ['2004-09-08', ' Moldova', ' Italy', 0, 1, ' FIFA World Cup qualification'], ['2004-10-09', ' Slovenia', ' Italy', 1, 0, ' FIFA World Cup qualification'], ['2004-10-13', ' Italy', ' Belarus', 4, 3, ' FIFA World Cup qualification'], ['2004-11-17', ' Italy', ' Finland', 1, 0, ' Friendly'], ['2005-02-09', ' Italy', ' Russia', 2, 0, ' Friendly'], ['2005-03-26', ' Italy', ' Scotland', 2, 0, ' FIFA World Cup qualification'], ['2005-03-30', ' Italy', ' Iceland', 0, 0, ' Friendly'], ['2005-06-04', ' Norway', ' Italy', 0, 0, ' FIFA World Cup qualification'], ['2005-06-11', ' Ecuador', ' Italy', 1, 1, ' Friendly'], ['2005-08-17', ' Republic of Ireland', ' Italy', 1, 2, ' Friendly'], ['2005-09-03', ' Scotland', ' Italy', 1, 1, ' FIFA World Cup qualification'], ['2005-09-07', ' Belarus', ' Italy', 1, 4, ' FIFA World Cup qualification'], ['2005-10-08', ' Italy', ' Slovenia', 1, 0, ' FIFA World Cup qualification'], ['2005-10-12', ' Italy', ' Moldova', 2, 1, ' FIFA World Cup qualification'], ['2005-11-12', ' Netherlands', ' Italy', 1, 3, ' Friendly'], ['2005-11-16', ' "Côte dIvoire"', ' Italy', 1, 1, ' Friendly'], ['2006-03-01', ' Italy', ' Germany', 4, 1, ' Friendly'], ['2006-05-31', ' Switzerland', ' Italy', 1, 1, ' Friendly'], ['2006-06-02', ' Italy', ' Ukraine', 0, 0, ' Friendly'], ['2006-06-12', ' Italy', ' Ghana', 2, 0, ' FIFA World Cup'], ['2006-06-17', ' Italy', ' USA', 1, 1, ' FIFA World Cup'], ['2006-06-22', ' Czech Republic', ' Italy', 0, 2, ' FIFA World Cup'], ['2006-06-26', ' Italy', ' Australia', 1, 0, ' FIFA World Cup'], ['2006-06-30', ' Italy', ' Ukraine', 3, 0, ' FIFA World Cup'], ['2006-07-04', ' Germany', ' Italy', 0, 2, ' FIFA World Cup'], ['2006-07-09', ' Italy', ' France', 1, 1, ' FIFA World Cup'], ['2006-08-16', ' Italy', ' Croatia', 0, 2, ' Friendly'], ['2006-09-02', ' Italy', ' Lithuania', 1, 1, ' UEFA Euro qualification'], ['2006-09-06', ' France', ' Italy', 3, 1, ' UEFA Euro qualification'], ['2006-10-07', ' Italy', ' Ukraine', 2, 0, ' UEFA Euro qualification'], ['2006-10-11', ' Georgia', ' Italy', 1, 3, ' UEFA Euro qualification'], ['2006-11-15', ' Italy', ' Turkey', 1, 1, ' Friendly'], ['2007-03-28', ' Italy', ' Scotland', 2, 0, ' UEFA Euro qualification'], ['2007-06-02', ' Faroe Islands', ' Italy', 1, 2, ' UEFA Euro qualification'], ['2007-06-06', ' Lithuania', ' Italy', 0, 2, ' UEFA Euro qualification'], ['2007-08-22', ' Hungary', ' Italy', 3, 1, ' Friendly'], ['2007-09-08', ' Italy', ' France', 0, 0, ' UEFA Euro qualification'], ['2007-09-12', ' Ukraine', ' Italy', 1, 2, ' UEFA Euro qualification'], ['2007-10-13', ' Italy', ' Georgia', 2, 0, ' UEFA Euro qualification'], ['2007-10-17', ' Italy', ' South Africa', 2, 0, ' Friendly'], ['2007-11-17', ' Scotland', ' Italy', 1, 2, ' UEFA Euro qualification'], ['2007-11-21', ' Italy', ' Faroe Islands', 3, 1, ' UEFA Euro qualification'], ['2008-02-06', ' Italy', ' Portugal', 3, 1, ' Friendly'], ['2008-03-26', ' Spain', ' Italy', 1, 0, ' Friendly'], ['2008-05-30', ' Italy', ' Belgium', 3, 1, ' Friendly'], ['2008-06-09', ' Netherlands', ' Italy', 3, 0, ' UEFA Euro'], ['2008-06-13', ' Italy', ' Romania', 1, 1, ' UEFA Euro'], ['2008-06-17', ' France', ' Italy', 0, 2, ' UEFA Euro'], ['2008-06-22', ' Spain', ' Italy', 0, 0, ' UEFA Euro'], ['2008-08-20', ' Italy', ' Austria', 2, 2, ' Friendly'], ['2008-09-06', ' Cyprus', ' Italy', 1, 2, ' FIFA World Cup qualification'], ['2008-09-10', ' Italy', ' Georgia', 2, 0, ' FIFA World Cup qualification'], ['2008-10-11', ' Bulgaria', ' Italy', 0, 0, ' FIFA World Cup qualification'], ['2008-10-15', ' Italy', ' Montenegro', 2, 1, ' FIFA World Cup qualification'], ['2008-11-19', ' Greece', ' Italy', 1, 1, ' Friendly'], ['2009-02-10', ' Brazil', ' Italy', 2, 0, ' Friendly'], ['2009-03-28', ' Montenegro', ' Italy', 0, 2, ' FIFA World Cup qualification'], ['2009-04-01', ' Italy', ' Republic of Ireland', 1, 1, ' FIFA World Cup qualification'], ['2009-06-06', ' Italy', ' Northern Ireland', 3, 0, ' Friendly'], ['2009-06-10', ' Italy', ' New Zealand', 4, 3, ' Friendly'], ['2009-06-15', ' USA', ' Italy', 1, 3, ' Confederations Cup'], ['2009-06-18', ' Egypt', ' Italy', 1, 0, ' Confederations Cup'], ['2009-06-21', ' Italy', ' Brazil', 0, 3, ' Confederations Cup'], ['2009-08-12', ' Switzerland', ' Italy', 0, 0, ' Friendly'], ['2009-09-05', ' Georgia', ' Italy', 0, 2, ' FIFA World Cup qualification'], ['2009-09-09', ' Italy', ' Bulgaria', 2, 0, ' FIFA World Cup qualification'], ['2009-10-10', ' Republic of Ireland', ' Italy', 2, 2, ' FIFA World Cup qualification'], ['2009-10-14', ' Italy', ' Cyprus', 3, 2, ' FIFA World Cup qualification'], ['2009-11-14', ' Italy', ' Netherlands', 0, 0, ' Friendly'], ['2009-11-18', ' Italy', ' Sweden', 1, 0, ' Friendly'], ['2010-03-03', ' Italy', ' Cameroon', 0, 0, ' Friendly'], ['2010-06-03', ' Italy', ' Mexico', 1, 2, ' Friendly'], ['2010-06-05', ' Switzerland', ' Italy', 1, 1, ' Friendly'], ['2010-06-14', ' Italy', ' Paraguay', 1, 1, ' FIFA World Cup'], ['2010-06-20', ' Italy', ' New Zealand', 1, 1, ' FIFA World Cup'], ['2010-06-24', ' Slovakia', ' Italy', 3, 2, ' FIFA World Cup'], ['2010-08-10', ' Italy', ' "Côte dIvoire"', 0, 1, ' Friendly'], ['2010-09-03', ' Estonia', ' Italy', 1, 2, ' UEFA Euro qualification'], ['2010-09-07', ' Italy', ' Faroe Islands', 5, 0, ' UEFA Euro qualification'], ['2010-10-08', ' Northern Ireland', ' Italy', 0, 0, ' UEFA Euro qualification'], ['2010-10-12', ' Italy', ' Serbia', 3, 0, ' UEFA Euro qualification'], ['2010-11-17', ' Italy', ' Romania', 1, 1, ' Friendly'], ['2011-02-09', ' Germany', ' Italy', 1, 1, ' Friendly'], ['2011-03-25', ' Slovenia', ' Italy', 0, 1, ' UEFA Euro qualification'], ['2011-03-29', ' Ukraine', ' Italy', 0, 2, ' Friendly'], ['2011-06-03', ' Italy', ' Estonia', 3, 0, ' UEFA Euro qualification'], ['2011-06-07', ' Italy', ' Republic of Ireland', 0, 2, ' Friendly'], ['2011-08-10', ' Italy', ' Spain', 2, 1, ' Friendly'], ['2011-09-02', ' Faroe Islands', ' Italy', 0, 1, ' UEFA Euro qualification'], ['2011-09-06', ' Italy', ' Slovenia', 1, 0, ' UEFA Euro qualification'], ['2011-10-07', ' Serbia', ' Italy', 1, 1, ' UEFA Euro qualification'], ['2011-10-11', ' Italy', ' Northern Ireland', 3, 0, ' UEFA Euro qualification'], ['2011-11-11', ' Poland', ' Italy', 0, 2, ' Friendly'], ['2011-11-15', ' Italy', ' Uruguay', 0, 1, ' Friendly'], ['2012-02-29', ' Italy', ' USA', 0, 1, ' Friendly'], ['2012-06-01', ' Italy', ' Russia', 0, 3, ' Friendly'], ['2012-06-10', ' Spain', ' Italy', 1, 1, ' UEFA Euro'], ['2012-06-14', ' Italy', ' Croatia', 1, 1, ' UEFA Euro'], ['2012-06-18', ' Italy', ' Republic of Ireland', 2, 0, ' UEFA Euro'], ['2012-06-24', ' England', ' Italy', 0, 0, ' UEFA Euro'], ['2012-06-28', ' Germany', ' Italy', 1, 2, ' UEFA Euro'], ['2012-07-01', ' Spain', ' Italy', 4, 0, ' UEFA Euro'], ['2012-08-15', ' England', ' Italy', 2, 1, ' Friendly'], ['2012-09-07', ' Bulgaria', ' Italy', 2, 2, ' FIFA World Cup qualification'], ['2012-09-11', ' Italy', ' Malta', 2, 0, ' FIFA World Cup qualification'], ['2012-10-12', ' Armenia', ' Italy', 1, 3, ' FIFA World Cup qualification'], ['2012-10-16', ' Italy', ' Denmark', 3, 1, ' FIFA World Cup qualification'], ['2012-11-14', ' Italy', ' France', 1, 2, ' Friendly'], ['2013-02-06', ' Netherlands', ' Italy', 1, 1, ' Friendly'], ['2013-03-21', ' Italy', ' Brazil', 2, 2, ' Friendly'], ['2013-03-26', ' Malta', ' Italy', 0, 2, ' FIFA World Cup qualification'], ['2013-05-31', ' Italy', ' San Marino', 4, 0, ' Friendly'], ['2013-06-07', ' Czech Republic', ' Italy', 0, 0, ' FIFA World Cup qualification'], ['2013-06-11', ' Italy', ' Haiti', 2, 2, ' Friendly'], ['2013-06-16', ' Mexico', ' Italy', 1, 2, ' Confederations Cup'], ['2013-06-19', ' Italy', ' Japan', 4, 3, ' Confederations Cup'], ['2013-06-22', ' Brazil', ' Italy', 4, 2, ' Confederations Cup'], ['2013-06-27', ' Spain', ' Italy', 0, 0, ' Confederations Cup'], ['2013-06-30', ' Uruguay', ' Italy', 2, 2, ' Confederations Cup'], ['2013-08-14', ' Italy', ' Argentina', 1, 2, ' Friendly'], ['2013-09-06', ' Italy', ' Bulgaria', 1, 0, ' FIFA World Cup qualification'], ['2013-09-10', ' Italy', ' Czech Republic', 2, 1, ' FIFA World Cup qualification'], ['2013-10-11', ' Denmark', ' Italy', 2, 2, ' FIFA World Cup qualification'], ['2013-10-15', ' Italy', ' Armenia', 2, 2, ' FIFA World Cup qualification'], ['2013-11-15', ' Italy', ' Germany', 1, 1, ' Friendly'], ['2013-11-18', ' Italy', ' Nigeria', 2, 2, ' Friendly'], ['2014-03-05', ' Spain', ' Italy', 1, 0, ' Friendly'], ['2014-05-31', ' Italy', ' Republic of Ireland', 0, 0, ' Friendly'], ['2014-06-04', ' Italy', ' Luxembourg', 1, 1, ' Friendly'], ['2014-06-14', ' England', ' Italy', 1, 2, ' FIFA World Cup'], ['2014-06-20', ' Italy', ' Costa Rica', 0, 1, ' FIFA World Cup'], ['2014-06-24', ' Italy', ' Uruguay', 0, 1, ' FIFA World Cup'], ['2014-09-04', ' Italy', ' Netherlands', 2, 0, ' Friendly'], ['2014-09-09', ' Norway', ' Italy', 0, 2, ' UEFA Euro qualification'], ['2014-10-10', ' Italy', ' Azerbaijan', 2, 1, ' UEFA Euro qualification'], ['2014-10-13', ' Malta', ' Italy', 0, 1, ' UEFA Euro qualification'], ['2014-11-16', ' Italy', ' Croatia', 1, 1, ' UEFA Euro qualification'], ['2014-11-18', ' Italy', ' Albania', 1, 0, ' Friendly'], ['2015-03-28', ' Bulgaria', ' Italy', 2, 2, ' UEFA Euro qualification'], ['2015-03-31', ' Italy', ' England', 1, 1, ' Friendly'], ['2015-06-12', ' Croatia', ' Italy', 1, 1, ' UEFA Euro qualification'], ['2015-06-16', ' Italy', ' Portugal', 0, 1, ' Friendly'], ['2015-09-03', ' Italy', ' Malta', 1, 0, ' UEFA Euro qualification'], ['2015-09-06', ' Italy', ' Bulgaria', 1, 0, ' UEFA Euro qualification'], ['2015-10-10', ' Azerbaijan', ' Italy', 1, 3, ' UEFA Euro qualification'], ['2015-10-13', ' Italy', ' Norway', 2, 1, ' UEFA Euro qualification'], ['2015-11-13', ' Belgium', ' Italy', 3, 1, ' Friendly'], ['2015-11-17', ' Italy', ' Romania', 2, 2, ' Friendly'], ['2016-03-24', ' Italy', ' Spain', 1, 1, ' Friendly'], ['2016-03-29', ' Germany', ' Italy', 4, 1, ' Friendly'], ['2016-05-29', ' Italy', ' Scotland', 1, 0, ' Friendly'], ['2016-06-06', ' Italy', ' Finland', 2, 0, ' Friendly'], ['2016-06-13', ' Belgium', ' Italy', 0, 2, ' UEFA Euro'], ['2016-06-17', ' Italy', ' Sweden', 1, 0, ' UEFA Euro'], ['2016-06-22', ' Italy', ' Republic of Ireland', 0, 1, ' UEFA Euro'], ['2016-06-27', ' Italy', ' Spain', 2, 0, ' UEFA Euro'], ['2016-07-02', ' Germany', ' Italy', 1, 1, ' UEFA Euro'], ['2016-09-01', ' Italy', ' France', 1, 3, ' Friendly'], ['2016-09-05', ' Israel', ' Italy', 1, 3, ' FIFA World Cup qualification'], ['2016-10-06', ' Italy', ' Spain', 1, 1, ' FIFA World Cup qualification'], ['2016-10-09', ' North Macedonia', ' Italy', 2, 3, ' FIFA World Cup qualification'], ['2016-11-12', ' Liechtenstein', ' Italy', 0, 4, ' FIFA World Cup qualification'], ['2016-11-15', ' Italy', ' Germany', 0, 0, ' Friendly'], ['2017-03-24', ' Italy', ' Albania', 2, 0, ' FIFA World Cup qualification'], ['2017-03-28', ' Netherlands', ' Italy', 1, 2, ' Friendly'], ['2017-05-31', ' Italy', ' San Marino', 8, 0, ' Friendly'], ['2017-06-07', ' Italy', ' Uruguay', 3, 0, ' Friendly'], ['2017-06-11', ' Italy', ' Liechtenstein', 5, 0, ' FIFA World Cup qualification'], ['2017-09-02', ' Spain', ' Italy', 3, 0, ' FIFA World Cup qualification'], ['2017-09-05', ' Italy', ' Israel', 1, 0, ' FIFA World Cup qualification'], ['2017-10-06', ' Italy', ' North Macedonia', 1, 1, ' FIFA World Cup qualification'], ['2017-10-09', ' Albania', ' Italy', 0, 1, ' FIFA World Cup qualification'], ['2017-11-10', ' Sweden', ' Italy', 1, 0, ' FIFA World Cup qualification'], ['2017-11-13', ' Italy', ' Sweden', 0, 0, ' FIFA World Cup qualification'], ['2018-03-23', ' Italy', ' Argentina', 0, 2, ' Friendly'], ['2018-03-27', ' England', ' Italy', 1, 1, ' Friendly'], ['2018-05-28', ' Italy', ' Saudi Arabia', 2, 1, ' Friendly'], ['2018-06-01', ' France', ' Italy', 3, 1, ' Friendly'], ['2018-06-04', ' Italy', ' Netherlands', 1, 1, ' Friendly'], ['2018-09-07', ' Italy', ' Poland', 1, 1, ' UEFA Nations League'], ['2018-09-10', ' Portugal', ' Italy', 1, 0, ' UEFA Nat